---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}


•	"Design and Analysis of Real Time Spiking Neural Network Decoder for Neuromorphic Chips" on International Conference on Neuromorphic System, 2019
•	“Learning Accuracy Analysis of Memristor-based Nonlinear Computing Module on Long Short-term Memory” in Neuromorphic Computing Symposium 2018: Architectures, Models, and Applications, held by Oak Ridge National Laboratory, 2018
•	“Opportunities and Challenges on Nanoscale 3D Neuromorphic Computing System” in IEEE International Symposium on Electromagnetic Compatibility, Signal and Power Integrity, 2017
•	“Modeling and Analysis of Neuronal Membrane Electrical Activities in 3D Neuromorphic Computing System” in IEEE International Symposium on Electromagnetic Compatibility, Signal and Power Integrity, 2017
•	“3D Memristor-based Adjustable Deep Recurrent Neural Network with Programmable Attention Mechanism” in Neuromorphic Computing Symposium 2017: Architectures, Models, and Applications, held by Oak Ridge National Laboratory, 2017
•	“Electrical Modeling and Analysis of 3D Synaptic Array using Vertical RRAM Structure” in Quality Electronic Design (ISQED), 2017 18th International Symposium on, 2017
•	 “When Energy Efficient Spike-Based Temporal Encoding Meets Resistive Crossbar: From Circuit Design to Application” in Neuromorphic Computing Symposium 2017: Architectures, Models, and Applications, held by Oak Ridge National Laboratory, 2017
